
<div class="container" style=" background:rgba(255,255,255, 0.5);">
  <h1 style="color: black; text-align: center" class="fw-bold">Formación</h1>
  <table class="table table-striped ">
  <thead>
    <tr>

      <th scope="col">Fecha</th>
      <th scope="col">Lugar</th>
      <th scope="col">Titulo</th>
      <th scope="col">Nota</th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td>2019-2021</td>
      <td>IES El Ríncon</td>
      <td>Grado Superior en Desarrollo de Aplicaciones Multiplataforma</td>
      <td>8.23</td>

    </tr>
    <tr>

         <td>2019</td>
      <td>Instituto Focan</td>
      <td>Certificado de Profesionalidad en Desarrollo de aplicaciones con Tecnologías Web</td>
      <td>10</td>
    </tr>


  </tbody>
</table>
<h1 style="color: black; text-align: center" class="fw-bold">Experiencia</h1>
<table class="table table-striped ">
<thead>
  <tr>

    <th scope="col">Fecha</th>
    <th scope="col">Lugar</th>
    <th scope="col">Rol</th>
    <th scope="col">Tiempo</th>


  </tr>
</thead>
<tbody>
  <tr>

    <td>2019</td>
    <td>Instituto Focan</td>
    <td>Desarrolador web con Moodle y Wordpress</td>
    <td>1 mes</td>


  </tr>
  <tr>

       <td>2021</td>
    <td>Central Uniformes S.L</td>
    <td>Desarrollador Fullstack creando un ERP con Html5, Jquery y PHP</td>
    <td>3 meses</td>

  </tr>


</tbody>
</table>
<h1 style="color: black; text-align: center" class="fw-bold">Otros datos</h1>
<table class="table table-striped ">
<thead>
  <tr>

    <th scope="col">Dato</th>
    <th scope="col">Valor</th>


  </tr>
</thead>
<tbody>
  <tr>

    <td>Inglés</td>
    <td>Medio</td>



  </tr>
  <tr>

       <td>Manejo de versiones con Git
      </td>


  </tr>
  <tr>

    <td>Despliegue de aplicaciones con Azure

   </td>


</tr>
<tr>

  <td>Despliegue de aplicaciones con Azure

 </td>

</tr>
<tr>

  <td>Manejo de Base de Datos Relaciones y no Relacionales

 </td>

</tr>


</tbody>
</table>
</div>
