
<div class="container table-responsive" style=" background:rgba(255,255,255, 0.5);">
  <h1 style="color: black; text-align: center" class="fw-bold">Education</h1>
  <table class="table table-striped ">
  <thead>
    <tr>

      <th scope="col">Date</th>
      <th scope="col">Place</th>
      <th scope="col">Study Title</th>


    </tr>
  </thead>
  <tbody>
    <tr>

      <td>2019-2021</td>
      <td>IES El Ríncon</td>
      <td>Certificate of Higher Education in Cross-PlatformDevelopment</td>


    </tr>
    <tr>

         <td>2019</td>
      <td>Instituto Focan</td>
      <td>Vocational Education of Development with WebTecnologies</td>

    </tr>


  </tbody>
</table>
<h1 style="color: black; text-align: center" class="fw-bold">Experience</h1>
<table class="table table-striped ">
<thead>
  <tr>

    <th scope="col">Date</th>
    <th scope="col">Place</th>
    <th scope="col">Rol</th>
    <th scope="col">Period</th>


  </tr>
</thead>
<tbody>
  <tr>

    <td>2019</td>
    <td>Instituto Focan</td>
    <td>Web Development with Moodle and Mysql</td>
    <td>1  month</td>


  </tr>
  <tr>

       <td>2021</td>
    <td>Central Uniformes S.L</td>
    <td>FullStack Developer with Jquery, VanillaJS, Css and PhP </td>
    <td>3 months</td>

  </tr>
  <tr>

    <td>2021</td>
 <td>AtlanTIC Systems</td>
 <td>FullStack Developer with VueJS and Laravel API </td>
 <td>2 months</td>

</tr>


</tbody>
</table>
<h1 style="color: black; text-align: center" class="fw-bold">Other <datalist></datalist></h1>
<table class="table table-striped ">
<thead>
  <tr>

    <th scope="col">Data</th>


  </tr>
</thead>
<tbody>
  <tr>

    <td>English B1</td>




  </tr>
  <tr>

       <td>Git experience: Github, Gitbucket
      </td>


  </tr>
  <tr>

    <td>App deployment with Azure and Firebase

   </td>


</tr>

<tr>

  <td>Mysql and MongoDB

 </td>

</tr>


</tbody>
</table>
</div>
