<br>

<br>
<br>
<br>

<div class="container" style=" background:rgba(255,255,255, 0.5);">
  <h1 style="color: black; text-align: center" class="fw-bold">Personal Data</h1>
  <table class="table table-striped ">
  <thead>
    <tr>

      <th scope="col">Campo</th>
      <th scope="col">Valor</th>

    </tr>
  </thead>
  <tbody>
    <tr>

      <td>Name</td>
      <td>Carlos José</td>


    </tr>
    <tr>

         <td>Surname</td>
      <td>Rocholl Paniagua</td>

    </tr>
    <tr>

      <td>Birthdate</td>

      <td>09/12/1997</td>

    </tr>
    <tr>

      <td>Email</td>

      <td>rocholl97@gmail.com</td>

    </tr>
    <tr>
      <td>Disponibility</td>
      <td>Total</td>

    </tr>
    <tr>

      <td>Phone</td>
      <td>+34 691 03 07 09</td>

    </tr>
  </tbody>
</table>
</div>
<br>


<br>
<br>
<br>
<br>
<br>
<br>
