<div (panright)="onSwipeRight($event)"  (panleft)="onSwipeLeft($event)"id="body">


<mat-sidenav-container  id="sidebar-container" style="position: left;">
  <mat-sidenav #sidenav="matSidenav" class="mat-elevation-z8">

  <app-aside></app-aside>

  </mat-sidenav>
  <mat-sidenav-content id="sidebar-content">
    <mat-toolbar class="mat-elevation-z8" id="nav-container">

<app-nav ></app-nav>
</mat-toolbar>
      <div class="content1 mat-elevation-z8">
         <router-outlet></router-outlet>
      </div>
  </mat-sidenav-content>
</mat-sidenav-container>

</div>
<div id="footer">   <button class="btn " id="openSide"   *ngIf="sidenav.mode === 'over'" (click)="sidenav.toggle()">
  <mat-icon *ngIf="!sidenav.opened" style="color:white;">
    arrow_back
  </mat-icon>
  <mat-icon *ngIf="sidenav.opened">
      close
  </mat-icon>
</button></div>
