#home-body{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin: 0 auto;
  padding-bottom: 50px;
  height: 600px;
}
#home-title{

  width: 100%;
  color: black;
}
#home-title-principal{

  text-align: center;
  width: 100%;
  color: black;

}
.home-text{
  
  font-size: 20px;
}

#center{
  top: 50%;
}