#home-body{
  width: 80%;
  margin: 0 auto;
}
#home-title{

  width: 100%;
  color: black;
}
#home-title-principal{

  text-align: center;
  width: 100%;
  color: black;

}
.home-text{
  font-size: 20px;
}
