<div id="home-body">
  <div id="center">
    <div id="home-title-principal">
      <h1 style="font-size: 2rem"><b>Welcome to my Curriculum!</b></h1>
    </div>
    <br />
    <div id="home-title">
      <p class="home-text">
        I`m a junior <b>Fullstack</b> developer wanting to learn and grow
        professionally.
      </p>
      <br />
      <p class="home-text">
        I am passionate about the world of computer science and programming.
        <br/>
      </p>
      <br />
      <p class="home-text">
        I adapt quite quickly to new technologies and I like to solve problems.
      </p>
      <br />
      <p class="home-text">
        In the technologies tab you can see my knowledge about technologies and
        skills.
      </p>
    </div>
  </div>
</div>
