<div id="home-body">
  <br>
  <div  id="home-title-principal">  <h1 style="font-size: 43px;"><b>Bienvenidos a mi Curriculum!</b></h1></div>
<br>
  <div  id="home-title" >
  <p class="home-text">Soy un desarrollador <b>Fullstack</b> junior con ganas de aprender y crecer profesionalmente.</p><br>
  <p class="home-text">Me apasiona el mundo de la informatica y la programación. <br>
    </p><br>
  <p class="home-text">Me adapto bastante rapido a nuevas tecnologías y me gusta resolver problemas.</p>
  <br>
  <p class="home-text">En la pestaña de tecnologías podras observar mis conocimientos sobre tecnologías y habilidades.</p>


  </div>


</div>
